LEGISLAGD_ENV=development
LEGISLAGD_DOMAIN=localhost

SAPL_SD_URL=http://localhost:8000
PORTALMODELO_SD_URL=http://localhost:8080
ECIDADE_SD_URL=http://localhost:8081
SIGI_SD_URL=http://localhost:8082

INTEGRATION_AUTH_MODE=development
